@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');

header h1{
    background-color: rgb(77, 150, 166);
    color: black;
    text-align: center;
    height: 60px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
}

footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: black;
    background-color:  rgb(77, 150, 166);
    font-family: 'Open Sans', sans-serif;
}


h2{
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    color: rgb(77, 150, 166);
    font-family: 'Open Sans', sans-serif;
}

.choice{
    line-height: 30px;
    width: 150px;
}
#theGame{
    text-align: center;
    line-height: 35px;
}
#playerText{
    color:  blue;
}
#computerText{
    color: red;
}

